/com.arthur.wbs-0.0.1-SNAPSHOT/
/com.arthur.hr.client/
/com.arthur.hr.ear/
/com.arthur.hr.ejb/
/com.arthur.hr.ejblocaltests/
/com.arthur.hr.entitieslocaltests/
/com.arthur.hr.pomroot/
/com.arthur.sh.ejb/
